body {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    font-family: sans-serif;
}

nav {
    padding: 0;
    margin: 0;
    background-color: #66599b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    color: white;
}

nav > h1 {
    margin: 20px;
}

.navlinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navlink > a {
    color: white;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
}

.navlink > a:hover {
    background-color: #90a5d2;
}

#background-pic{
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 600px;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 50%;
    width: 30%;
    left: 17%;
    top: 20%;
    border-radius: 30px;
    box-shadow: 3px 3px 3px grey;
    background-color: white;
}

aside > h1{
    text-align: center;
    font-size: 2.75em;
}

#hours {
    background-color: lightskyblue;
    width: 75%;
    padding: 3%;
    border-radius: 30px;
    text-align: center;
    color: grey;
    font-size: 1.25em;
}

button {
    background-color: lightseagreen;
    color: white;
    padding: 3%;
    border-radius: 10px;
    margin-top: 10%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #66599b;
    font-size: 1em;
    min-height: 100px;
}

#icons > img{
    margin: 10px;
    height: 30px;
}

@media (max-width: 1360px) {
    aside {
        width: 50%;
        height: 60%;
    }

    button {
        margin-top: 5px;
    }
}

@media (max-width: 740px) {
    aside {
        height: 75%;
    }
}