body {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    font-family: sans-serif;
}

nav {
    padding: 0;
    margin: 0;
    background-color: #66599b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    color: white;
}

nav > h1 {
    margin: 20px;
}

.navlinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navlink > a {
    color: white;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
}

.navlink > a:hover {
    background-color: #90a5d2;
}

main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
}

main > div {
    margin: 40px;
    background-color: lavender;
    width: 500px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#sub > img, #wrap > img {
    width: 70%;
    height: 50%;
}

button {
    background-color: lightseagreen;
    color: white;
    border-radius: 10px;
    padding: 7%;
}

button > a {
    text-decoration: none;
    color: white;
    font-size: 1.25em;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #66599b;
    font-size: 1em;
    min-height: 100px;
    font-family: serif;
}

.icons {
    margin: 10px;
    height: 30px;
}